/*pallete---
white: #fff;
base green: #96C651;
------------*/

*{box-sizing:border-box;}
html, body{width:100%;height:100%;margin:0;padding:0;}
body{color:#eee;background: #96C651;}
.hidden{display:none;}

/*transitions*/
#transition-wrapper
{
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    transform-style: preserve-3d;
}
 
.page 
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform-origin: 50% 100%;
    background-color:#fff;
    color:#333;
}
 
.page-current
{
    visibility: visible;
}
 
.page-top
{
    z-index: 999;
}

.page-animate-out
{
    -webkit-animation: rotatePushBottom .7s ease both;
}
.page-animate-in
{
    -webkit-animation: moveFromTop .7s ease both;
}

/*animations*/
@-webkit-keyframes rotatePushBottom {
	from { }
	to { opacity: 0; -webkit-transform: rotateX(90deg); }
}
@keyframes rotatePushBottom {
	from { }
	to { opacity: 0; -webkit-transform: rotateX(90deg); transform: rotateX(90deg); }
}
@-webkit-keyframes moveFromTop {
	from { -webkit-transform: translateY(-100%); }
}
@keyframes moveFromTop {
	from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}
/*----------PAGES---------------*/
.page .page-container
{
    height:100%;
}
.page .page-container>header
{
    background-color: #96C651;
    font-size: 1.3em;
    padding: .5em;
    color: #fff;
}

.page .page-container .content
{
    padding:1em;
}

/*page-initial*/
#page-initial #background-video
{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url(../images/market_poster.png) no-repeat;
    background-size: cover;
}
#page-initial .user-options
{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100%;
}
#page-initial .start-button
{
    background-color: transparent;
    border-radius: 2em;
    font-size: 3.5em;
    border: solid .1em #fff;
    padding: 1em 2em;
    color: #FFF;
    outline: none;
}
#page-initial .start-button.english
{
    margin-right:1em;
}

/*page-checkout*/
#page-checkout .page-container .content
{
    display:flex;
}
#page-checkout .reciept-container
{
    flex:2;
    height:100%;
    border: solid 1px #ddd;
    margin-right: 1em;
}
#page-checkout .reciept-container header
{
    background-color: #96C651;
    font-size: 1.3em;
    padding: .5em;
    color: #fff;
}
#page-checkout .reciept-container .reciept
{
    margin: 2em;
    border-bottom: solid 1px #ddd;
    height: 70%;
}
#page-checkout .reciept-container .reciept-total
{
    height:30%;
}   
#page-checkout .checkout-container
{
    flex:3;
}



/************************
/OLD STYLES
/************************/


/*page-processing*/
.loading-image 
{
    width: 60px;
    height:140px;
    padding:20px 0;
    background-color:#eee;
    position:relative;
    
    background: -webkit-radial-gradient(0 100%, circle, rgba(204,0,0,0) 10px, #FEBF04 5px)
                ,-webkit-radial-gradient(100% 100%, circle, rgba(204,0,0,0) 10px, #FEBF04 5px)
                ,-webkit-radial-gradient(100% 0, circle, rgba(204,0,0,0) 10px, #FEBF04 5px)
                ,-webkit-radial-gradient(0 0, circle, rgba(204,0,0,0) 10px, #FEBF04 5px);
    background-position: bottom left, bottom right, top right, top left;
    -webkit-background-size: 50% 50%;
    background-size: 50% 50%;
    background-repeat: no-repeat;

    margin: 100px auto;
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;
}

.ticket-border
{
    background-color: #222;
    width: 90%;
    height: 2px;
    margin: 0 auto;
    position:absolute;
    margin-left:3px;
}
.ticket-border.top
{
    top:20px;
}
.ticket-border.bottom
{
    bottom:20px;
}

@-webkit-keyframes rotateplane
{
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane 
{
    0% 
    { 
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 
    50% 
    {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 
    100% 
    { 
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
    }
}